/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5 Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

:root { 

    /* colors */
    --Blue-500: hsl(215, 51%, 70%); 
    --Cyan-400: hsl(178, 100%, 50%); 

    --Blue-950-main-bg: hsl(217, 54%, 11%); 
    --Blue-900-card-bg: hsl(216, 50%, 16%);
    --Blue-800-line: hsl(215, 32%, 27%); 
    --White: hsl(0, 0%, 100%); 
}


@font-face {
    font-family: "Outfit";
    src: url("../font/Outfit-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300 600;
}