/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5 Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

:root { 

    /* colors */
    --Blue-500: hsl(215, 51%, 70%); 
    --Cyan-400: hsl(178, 100%, 50%); 

    --Blue-950-main-bg: hsl(217, 54%, 11%); 
    --Blue-900-card-bg: hsl(216, 50%, 16%);
    --Blue-800-line: hsl(215, 32%, 27%); 
    --White: hsl(0, 0%, 100%); 
}


@font-face {
    font-family: "Outfit";
    src: url("../font/Outfit-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300 600;
}

body { 
  background-color: var(--Blue-950-main-bg);
  font-family: "Outfit";
  min-height: 100dvh;
  display: flex; 
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 1em;
}

.card-container { 
  max-width: 340px;
  background-color: var(--Blue-900-card-bg);
  padding: 1.6rem;
  border-radius: 15px;
  box-shadow: 15px 15px 20px hsla(0, 0%, 0%, 0.4);
}

.card__cube-image { 
  border-radius: 10px;
  margin-bottom: 1em;
}

.card__cube-image-container { 
  position: relative;
  cursor: pointer;
}
.card__cube-image-container::after { 
  position: absolute; 
  content: "";
  border-radius: 10px;
  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--Cyan-400);
  opacity: 0.0;
  transition: 0.3s all ease;
}

.card__cube-image-container:hover::after { 
  opacity: 0.5;
}

.card__title {
  color: var(--White);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

.card__title:hover { 
  color: var(--Cyan-400);
}

.card__description { 
  font-size: 1.125rem;
  color: var(--Blue-500);
  font-weight: 300;
}

.card__info { 
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1.3rem 0; 
  border-bottom: 1px solid var(--Blue-500);
}

.card__eth { 
  color: var(--Cyan-400);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: .5em;
}

.card__time-left { 
  color: var(--Blue-500);
  display: flex;
  align-items: center;
  gap: .5em;
}

.card__profile { 
  display: flex;
  align-items: center;
  gap: 1em;
}

.card__author { 
  color: var(--Blue-500); 
  font-weight: 400;
}

.card__text-highlight { 
  color: var(--White);
  cursor: pointer;
  transition: 0.3s all ease;
}

.card__text-highlight:hover { 
  color: var(--Cyan-400);
}

.card__profile-image { 
  width: 35px; 
  border-radius: 50%;
  border: 1px solid var(--White);
}